
  <!--End page-wrapper-->
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}
  <script src="../../../../bower_components/enquire/enquire.js?{{ cacheBuster }}"></script>
  <script src="../../../../bower_components/media-match/media.match.js?{{ cacheBuster }}"></script>
  <script src="../../../../bower_components/slick-carousel/slick.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../bower_components/ResponsiveMultiLevelMenu/modernizr.custom.js?{{ cacheBuster }}"></script>
  <script src="../../../../bower_components/ResponsiveMultiLevelMenu/jquery.dlmenu.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/script.js?{{ cacheBuster }}"></script>
  </body>
</html>
