
  <!--End page-wrapper-->
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}
  <script src="../../../../js/libraries/enquire.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/libraries/media.match.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../.npm/bower_components/slick-carousel/slick/slick.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/script.js?{{ cacheBuster }}"></script>
  </body>
</html>
