{% set logo = {
  'src' : '/themes/custom/nine9_mobile/logo.png',
  'href' : '/',
  'title' : 'Home page'
}
%}
<div id="page-wrapper">
  <div id="page">
    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
      <div class="section layout-container clearfix">
        <div class="region-header-wrapper">
          <div class="container">
            {{ page.header }}
          </div>
        </div>
        <div class="nav-primary">
          <div class="content-inner">
            <div class="nav-inner">
              <div id="logo" class="logo">
                <a href="{{ logo.href }}">
                  <img src="{{ logo.src }}" alt="{{ logo.title }}" />
                </a>
              </div>
              <div class="menu-button js-menu-button">
                <span class="menu-button__item"></span>
                <span class="menu-button__item"></span>
                <span class="menu-button__item"></span>
              </div>
              <div id="main-menu">
                {{ page.primary_menu.nine9_mobile_main_menu }}
              </div>

            </div>
          </div>
        </div>
      </div>
    </header>
    {% if page.highlighted %}
      <div class="highlighted">
        <aside class="clearfix" role="complementary">
          {{ page.highlighted }}
        </aside>
      </div>
    {% endif %}
    {% if page.featured_top %}
      <div class="featured-top">
        <aside class="featured-top__inner section layout-container clearfix" role="complementary">
          {{ page.featured_top }}
        </aside>
      </div>
    {% endif %}
    <div id="main-wrapper" class="layout-main-wrapper  clearfix">
      <div id="main" class="layout-main clearfix {% if page.sidebar_second %}has-sidebar{% endif %}">
        {{ page.breadcrumb }}
        <main id="content" class="column main-content" role="main">
          <section class="section main-content__top container ">
            {{ page.content_top }}
          </section>
          <section class="section">
            <a id="main-content" tabindex="-1"></a>
            {{ page.content }}
          </section>
        </main>
        {% if page.sidebar_first %}
          <div id="sidebar-first" class="column sidebar">
            <aside class="section" role="complementary">
              {{ page.sidebar_first }}
            </aside>
          </div>
        {% endif %}
        {% if page.sidebar_second %}
          <div id="sidebar-second" class="column sidebar">
            <aside class="section" role="complementary">
              {{ page.sidebar_second }}
            </aside>
          </div>
        {% endif %}
      </div>
    </div>
    {% if page.featured_bottom_first or page.featured_bottom_second or page.featured_bottom_third %}
      <div class="featured-bottom">
        <aside class="container clearfix" role="complementary">
          {{ page.featured_bottom_first }}
          {{ page.featured_bottom_second }}
          {{ page.featured_bottom_third }}
        </aside>
      </div>
    {% endif %}
    <footer class="site-footer">
      <div class="container">
        {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
          <div class="site-footer__top clearfix">
            {{ page.footer_first }}
            {{ page.footer_second }}
            {{ page.footer_third }}
            {{ page.footer_fourth }}
          </div>
        {% endif %}
        {% if page.footer_fifth %}
          <div class="site-footer__bottom">
            {{ page.footer_fifth }}
          </div>
        {% endif %}
      </div>
    </footer>
  </div>
</div>
