<div class="block-filter__sort__item">
  <h4 class="block-filter__sort__title">{{ sortItem.title }}</h4>
  <div class="block-filter__sort__list">
    <div id="edit-radios">
      {% for item in sortItem.items %}
        <div class="form-item form-type-radio form-item-radios">
          <input type="radio" id="{{ item.id }}" name="radios" value="{{ item.value }}" class="form-radio">
          <label for="{{ item.id }}">{{ item.name }}</label>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<span>Or</span>
