{% set slider = [
	{
		"image": "https://unsplash.it/1202/300/?random",
		"heading": "Save £20 on the Fitbit Alta",
		"text": "Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.",
		"cta": "More about it",
		"link": "http://google.com",
		"align": "center",
	},
	{
		"image": "https://unsplash.it/1200/300/?random0",
		"heading": "Save £20 on the Fitbit Alta",
		"text": "Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.",
		"cta": "More about it",
		"link": "http://google.com",
		"align": "right",
	},
	{
		"image": "https://unsplash.it/1201/300/?random",
		"heading": "Save £20 on the Fitbit Alta",
		"text": "Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.",
		"cta": "More about it",
		"link": "http://google.com",
		"align": "left",
	}
]
%}

<div class="slider">
	{% for item in slider %}
		<div class="slider__item">
			<a class="slider__link" href="{{ item.link }}" title="{{ item.title }}">
				<div class="slider__image"><img src="{{ item.image }}" alt="{{ item.title }}"></div>
				<div class="slider__content align-{{ item.align }}">
					<h2 class="slider__heading">{{ item.heading }}</h2>
					<p class="slider__text">{{ item.text }}</p>
					<p class="slider__cta btn--cta">{{ item.cta }}</p>
				</div>
			</a>
		</div>
	{% endfor %}
</div>
