<div class="new-list__item">
  <div class="new-list__image">{{ newListItem.image }}</div>
  <div class="new-list__content">
    <div class="new-list__group">
      <div class="new-list__date">{{ newListItem.date }}</div>
      <div class="new-list__author">By O2</div>
    </div>
    <h3 class="new-list__title">{{ newListItem.title }}</h3>
    <div class="new-list__body">{{ newListItem.body }}</div>
    <div class="new-list__link">{{ newListItem.link }}</div>
  </div>
</div>
